*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 200px); /* vh a tela completa na vertical - 200px */
    width: calc((50vw + 200px) / 2); /* vw metade da tela na horizontal + 200px divido por 2 */
    background: red;
}